In [166]:
#we are finding the abbreviations of product types from allacronyms.com by extracting the source code of the website

#tools used 
#1) selenium for extracting html code 
#2) pandas to find the abbreviations in the source code

#If it goes to captcha mode,then driver closes and it re installs the again
#find abbreviation through pandas

In [181]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import random
import time
from fake_useragent import UserAgent
from tqdm import tqdm
import random
import re
tqdm.pandas()

In [182]:
import pandas as pd
brands = pd.read_csv('product_abbrev.csv')

In [183]:
brands.columns

Index(['Unnamed: 0', 'product_type'], dtype='object')

In [184]:
brands

      Unnamed: 0         product_type
0            254         new age tech
1            255  cable and connector
2            256     trackpants combo
3            257        biker joggers
4            258           hair dryer
...          ...                  ...
1711        4081         hand blender
1712        4082       photo printers
1713        4085      shapewear brief
1714        4089        assorted vest
1715        4090   sandals & floaters

[1716 rows x 2 columns]

In [185]:
brands=brands.drop(['Unnamed: 0'],axis=1)

In [186]:
brands

             product_type
0            new age tech
1     cable and connector
2        trackpants combo
3           biker joggers
4              hair dryer
...                   ...
1711         hand blender
1712       photo printers
1713      shapewear brief
1714        assorted vest
1715   sandals & floaters

[1716 rows x 1 columns]

In [187]:
len(brands)

1716

In [188]:
ua = UserAgent()

In [189]:
from webdriver_manager.chrome import ChromeDriverManager

In [190]:
from selenium import webdriver 
from tqdm import tqdm
tqdm.pandas()

C:\Users\pavan\anaconda3\lib\site-packages\tqdm\std.py:668: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [191]:
brand_url = "https://www.abbreviations.com/abbreviation/"

In [192]:
def get_prod_type_abb(text):
        time.sleep(1)
        strs = text.lower().replace(' ','_')
#     print(strs)
#     op = webdriver.ChromeOptions()
#     op.add_argument('headless')

         #object creation and passing arguments
        op = webdriver.ChromeOptions()
        op.add_argument('start-maximized')
        op.add_argument('start-fullscreen')#screen size
        op.add_argument("incognito")
        op.add_argument('--no-sandbox')  
    
        
     #     proxy = FreeProxy(country_id=['US'], rand=True, anonym=True).get()
#     ip = proxy.split("://")[1] 
#     op.add_argument('proxy-server=%s' % ip)
    
        ##installing web driver
        driver  = webdriver.Chrome(executable_path=r'C:\Users\pavan\Downloads\chromedriver.exe', options=op) 
        time.sleep(2 * random.random())
        driver.get('https://www.allacronyms.com/'+strs+'/abbreviated/')
        
        time.sleep(2 * random.random())
        
        #html page source
        html_=driver.page_source
    
        t = driver.find_elements(by='xpath', value = './/span[@class="gs-captcha-msg"]')
        print('bot mode -> ',len(t))
        i=0
        if len(t)!=0 and i<5:
            driver.close()
            time.sleep(2* random.random())
            driver  = webdriver.Chrome(executable_path=r'C:\Users\pavan\Downloads\chromedriver.exe', options=op) 
            driver.implicitly_wait(2)
            driver.get('https://www.allacronyms.com/'+strs+'/abbreviated/')
            t = driver.find_elements(by='xpath', value = './/span[@class="gs-captcha-msg"]')
            i=i+1
        
        #print(driver.page_source)
        
        time.sleep(1 * random.random())
        driver.close()
        try:
    
            
            x=pd.read_html(html_)
            if len(x)>1:
                return list(x[0][1])
            else:
                return []
        except Exception as e:
            print('exception encountered',e)
            return []

In [193]:
from tqdm.notebook import tqdm
tqdm.pandas()

In [ ]:
brands['abbr']=brands['product_type'].progress_apply(get_prod_type_abb)

In [ ]:
i=1
for df in list_of_dfs:
    df['abbr']=df['product_type'].progress_apply(get_prod_type_abb)
    df.to_csv(r'C:\Users\pavan\OneDrive\Desktop\product_type\pr_type'+str(i)+'.csv') 
   
    i+=1